body {
    background: #754668;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    background-color: #587D71;
    color: #F9ECCC;
    display: flex;
    margin: 10px;
    border: 3px;
    border-radius: 5px;
    float: left;
    width: 49%;
    position: relative;
}

.assignment img {
    height: 200px;
    width: 200px;
    margin: 5px;
    border-radius: 5%;
    border: #b5dda4 2px solid;
}

h1 {
    color: #F9ECCC;
    text-align: center;
}

.row {
    display: flex;
}

h2{
    text-align: center;
}

.description {
    text-align: center;
    bottom: 0;
    position: absolute;
}

